body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #161403;
    color: rgb(129, 163, 95);
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0px;
    text-align: center;
}
nav {
    background-color: #8c2d2d;
    text-align: center;
}
nav a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s;
    border-radius: 1px;
}
nav a:hover {
    background-color: #89866f;
    color: yellow;
}
main {
    padding: 20px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
section{
    text-align: center;
}
h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}
p{
    color: chocolate;
}
.para{
    color: white;
}
li{
    list-style: square;
}